
.pin-details {
  z-index: 10;
  position: fixed;
  display:flex;
  flex-direction: row;
  height: 60vh;
  top:20vh;
  width: 50vw;
  left:25vw;
  background-color:cornflowerblue;
}
.pin-image-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.pin-rhs {
  overflow-y:scroll;
}


#osm-map {
  height: 400px;
  width: 90%;
  margin: 5%;
}
.fit-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.pin-image{
  max-width: 75%;
  max-height: 75%;
}
