
.pin-details {
  z-index: 10;
  position: fixed;
  display:flex;
  flex-direction: row;
  height: 60vh;
  top:20vh;
  width: 50vw;
  left:25vw;
  background-color:cornflowerblue;
  border-radius:20px;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pin-image-container {
  width:45%;
}
.pin-image-container img{
  max-width: 75%;
  max-height: 75%;
}
.pin-rhs {
  width:55%;
  overflow-y:scroll;
}

#osm-map {
  height: 400px;
  width: 90%;
  margin: 5%;
}

